.article-content img {
	border-radius: 3px;
	box-shadow: 0 0 8px 1px lightgrey;
    background: #fff;
    border: 1px solid lightgrey;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.article-content h2 {
    font-weight: bold;
    color: darkcyan;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.article-content h2:before {
    /*content: "▌";*/
    content: "# ";
}

figure.highlight {
    background-image: url(https://static.segmentfault.com/v-5a66e7d0/global/img/blueprint.png);
    -webkit-background-size: 30px,30px;
    background-size: 30px,30px;
}

.highlight .gutter {
    display: none;
}

